@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
.welcome {
  font-family: 'Raleway';
  font-size: 50;
  text-align: center;
  padding-top: 500;
  color: #EE1775;
  border-bottom: thick solid #EE1775;
  margin-left: 950px;
  margin-right: 950px;
  padding-bottom: 30px;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.click {
  font-family: 'Raleway';
  font-size: 20;
  text-align: center;
  color: #EE1775;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  font-weight: bold;
}

@keyframes example {
    0% {color: #E42692;}
    10% {color: red;}
    20% {color: orange;}
    30% {color: #F9D423}
    40% {color: #C0D23E}
    50% {color: green;}
    60% {color: blue;}
    70% {color: #AD2BAD;}
    80% {color: #EE1775;}

    0% {border-bottom-color: #E42692;}
    10% {border-bottom-color: red;}
    20% {border-bottom-color: orange;}
    30% {border-bottom-color: #F9D423}
    40% {border-bottom-color: #C0D23E}
    50% {border-bottom-color: green;}
    60% {border-bottom-color: blue;}
    70% {border-bottom-color: #AD2BAD;}
    80% {border-bottom-color: #EE1775;}

}

@keyframes examplek {
  0% {background-color: #E42692;}
  10% {background-color: red;}
  20% {background-color: orange;}
  30% {background-color: #F9D423}
  40% {background-color: #C0D23E}
  50% {background-color: green;}
  60% {background-color: blue;}
  70% {background-color: #AD2BAD;}
  80% {background-color: #EE1775;}
}

@keyframes examplekk {
  0% {border-bottom-color: #E42692;}
  10% {border-bottom-color: red;}
  20% {border-bottom-color: orange;}
  30% {border-bottom-color: #F9D423}
  40% {border-bottom-color: #C0D23E}
  50% {border-bottom-color: green;}
  60% {border-bottom-color: blue;}
  70% {border-bottom-color: #AD2BAD;}
  80% {border-bottom-color: #EE1775;}
}

@keyframes bodycustom {
  0% {border-color: #E42692;}
  10% {border-color: red;}
  20% {border-color: orange;}
  30% {border-color: #F9D423}
  40% {border-color: #C0D23E}
  50% {border-color: green;}
  60% {border-color: blue;}
  70% {border-color: #AD2BAD;}
  80% {border-color: #EE1775}
}
@keyframes slide {
  0% {color: #E42692;}
  10% {color: red;}
  20% {color: orange;}
  30% {color: #F9D423}
  40% {color: #C0D23E}
  50% {color: green;}
  60% {color: blue;}
  70% {color: #AD2BAD;}
  80% {color: #EE1775;}
}



/* Important stuffs */
.menuButton {
  	left: 0;
    position: fixed;
    margin-top: 27.5px;
    margin-left: 15px;
    z-index: 0;
    cursor: pointer;
    width: 50px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: 1.25s menuButton;
}
.menuBar {
    width: 100%;
    height: 3px;
    animation-name: examplek;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    border-radius: 3px;
    background-color: #EE1775;
    animation-timing-function: ease-out;
}
.menuBar:after, .menuBar:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    border-radius: 3px;
}
.menuBar:after {
    top: 10px;
    animation-name: examplek;
    animation-duration: 20s;
    background-color: #EE1775;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.menuBar:before {
    top: 20px;
    animation-name: examplek;
    animation-duration: 20s;
    background-color: #EE1775;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@-webkit-keyframes menuButton {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
}
@keyframes menuButton {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
}

.menu {
    left: -340px;
    height: 100%;
    position: fixed;
    width: 200px;
    color: #fff;
    margin: 0;
    z-index: 900;
    padding-top: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu ul {
    list-style-type: none;
    display: inline;
}
.menu li a {
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
    background: #444;
    color: #fff;
		padding: 12px 15px;
    opacity: .9;
    filter: alpha(opacity=90);
	font-family: "Open Sans";
	display: inline-block;
	position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.menu li .active {
    background: #666;
}
.menu li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 1;
}
.menu li a:hover:before, .menu li a:focus:before, .menu li a:active:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.menu .item1 a:before {
    background: #FC913A;
}
.menu .item2 a:before {
    background: #E1F5C4;
}
.menu .item3 a:before { 
  animation-name: slide;
  animation-duration: 20s;
  background-color: #EE1775;
  animation-iteration-count: infinite;
}
/*.menu .item4 a:before {
    background: #D54431;
}
.menu .item5 a:before {
    background: #e2913d;
}
.menu .item6 a:before {
    background: #249FAF;
}
.menu .item7 a:before {
    background: #bcbbb3;
}
*/

body {
  border: 20px solid #EE1775;
  margin: -10px;
  animation-name: bodycustom;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
